@import "./styles/latestpost.css";
@import "./styles/contactform.css";

@font-face {
  font-family: "Blastimo";
  src: url("/Blastimo.woff") format("woff"),
    url("/Blastimo.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ---------------------------
   Theme
--------------------------- */
:root {
  --bg: #8a998a;
  --border: #ffffff;
  --radius: 30px;
  --lightwhite: rgba(255, 255, 255, 0.3);
  --background: rgba(138, 153, 138, 0.4);
  --hover: rgba(175, 191, 175, 0.8);
}

/* ---------------------------
   Base / Reset
--------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg);
  padding: 2rem;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.background-overlay {
  z-index: -100;
  opacity: 0.7;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  font-family: "Blastimo";
  font-weight: 300;
  font-style: normal;
  font-size: 7rem;
  margin: 0;
}

h2 {
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
}

p {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline-link {
  text-decoration: underline;
}

.button {
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: var(--radius);
  max-width: 700px;
  padding: 0.3rem 0.6rem;
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  color: white;
}

.button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero-column {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
  justify-content: end;
}

input {
  background-color: var(--background);
  border: 1px solid var(--border);
  height: fit-content;
  border-radius: 100px;
  width: 100%;
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0.5rem 0.9rem;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
  background-color: var(--hover);
}

.card {
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: var(--radius);
  max-width: 700px;
  padding: 2rem;
}

.author-image {
  max-width: 700px;
}

.avatar {
  border-radius: 100px;
  border: 1px solid var(--border);
  object-fit: cover;
  width: 160px;
  height: 160px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 1px solid var(--border);
}

.status {
  font-size: 1rem;
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 0.5rem;
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.dot {
  background-color: white;
  border-radius: 100px;
  width: 8px;
  height: 8px;
}

.sub-head {
  font-family: "myriad";
  font-family: myriad-pro, sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
}

.border-bottom {
  margin-top: 1rem;
  border-bottom: 1px solid var(--border);
}

.border {
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.8rem;
  p {
    width: 20%;
  }

  .footer-inner {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
  }

  .divider-line {
    display: block;
    height: 1px;
    background: var(--border);
  }
}

.mobile-nav {
  display: none;
}

.hidden {
  display: none;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0rem;

  h4 {
    margin: 0;
    font-size: 1.5rem;
  }

  p {
    text-align: right;
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--hover);
  border-radius: 30px;
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
}

.photo-half {
  margin-top: 1rem;
  width: 48%;
}

.row-photos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.hide-on-full {
  display: none;
}

.scroll {
  overflow-y: auto;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  max-width: 700px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  a {
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.social:hover {
  background-color: var(--hover);
}

.subscribe-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.subscribe-wrapper.open {
  max-height: 500px;
  opacity: 1;
}

.mobile-menu {
  display: flex;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  padding: 0;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0rem;
  overflow: hidden;

  a {
    width: fit-content;
    height: fit-content;
  }
}

.mobile-menu.open {
  margin-top: 1rem;
  height: fit-content;
  max-height: 200px;
  opacity: 1;
  gap: 1rem;
}

@media screen and (max-width: 1450px) {
  footer {
    p {
      width: 40%;
    }
  }

  .main {
    flex-direction: column;
  }
  .hide-on-mobile {
    display: none;
  }

  .hide-on-full {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }

  .row {
    flex-direction: column;
  }

  footer {
    p {
      width: 60%;
    }
  }
}

@media screen and (max-width: 650px) {
  .card {
    padding: 1rem;
  }

  .button {
    font-size: 0.9rem;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    flex-direction: column;
  }

  .header-text {
    margin-top: 1rem;
  }

  footer {
    flex-direction: column;
  }

  .row-photos {
    flex-direction: column;
  }

  .photo-half {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
  }
}
